@import url('https://fonts.googleapis.com/css2? family= Barlow:wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

button{
    font-family: 'Inter', sans-serif;
}

button:hover{
    cursor: pointer;
}



.main_container{
    display: flex;
}
.active{
    display: block;
}
.sec1 {
    justify-content: space-around;
    padding: 10px;
    width: 25vw;
}
.sec2{
    margin-left: 40px;
    padding: 10px;
    width: 75vw;
    background-color: #f6f6f6;    
}
.sec2 h1{
    font-family:'Barlow', sans-serif;
    color: rgba(77, 77, 77, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.op_info{
    position: fixed;
    bottom: 0;
}
.orders_info{
    list-style: none;
}
.sec2 button{ 
    margin-bottom: 30px;
    background-image: url("assets/Vector.png");
    border: none;
    border-radius: 8px;
    padding: 6px;
    color: white;
    background: #4A08FF;
        width: 170px;
    height: 38px;
    
}

.sec2 button:hover{
    background-color:rgb(133, 119, 170);
    ;
}
label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.filter{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(/assets/Vector.png) no-repeat center right #FFF;
    border: 1px solid #666666;
    border-radius: 8px;
    width: 137px;
    height: 38px;
    padding: 5px;
    color: #B3B3B3;
    font-family: 'Inter', sans-serif;
}

#button_print{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
    right: -443px;
    width: 137px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #FF8B20;
    border-radius: 8px;
    color: #FF8B20;
}

    .img_button_print{
        width: 18px;
        height: 11px;
        color: #FF8B20;
    }

#no_order_img{
    position: absolute;
    width: 400px;
    height: 190px;
    left: 638px;
    top: 353px;
}

#order_items {
    background: #ECECEC;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #B3B3B3;
    padding: 2px;
    justify-content: space-between;
    width: 65vw;
    position: absolute;
    margin-top: 5px;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
#items{
    border-top: 1px solid black;
    padding: 2px;
    justify-content: space-between;
    width: 61.7vw;
    position: absolute;
    margin-top: 5px;
    align-items: center;
    background: #ECECEC;
    border-width: 1px 0px;
    border-color: #B3B3B3;
    font-family: 'Inter', sans-serif;
    top: 412px;
}
.td_itens{
    width: 300px;
}
.hidden {
    display: none;
}
.inactive {
    display: none;
}
.copyright{
    position: fixed;
    bottom: 15px;
}
table td{
    border-top: 1px solid black;
    padding: 2px;
    text-align: center;
}

.number_request{
    width: 100px;
}
.label_product{
    display: grid;
    margin-right: 20px;
}
.product_field{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.product_name{
    width: 450px;
}
#button_add_product{
    margin-left: 710px;
}
.orders_options{
    margin-top: 100px;
    margin-left: 49vw;
    justify-content: space-between;
    width: 15vw;
}
#total_amount{
    position: absolute;
    left: 520px;
}

/* PAGINA 2 */

#sessao2{
    background-color: #f6f6f6;
}

.active h1{
    font-family:'Barlow', sans-serif;
    color: rgba(77, 77, 77, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

#product_code_input{
    box-sizing: border-box;
    padding: 12px 12px 12px 16px;
    width: 349px;
    height: 38px;
    border: 1px solid #666666;
    border-radius: 8px;
            
}

#button_search{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    top: 205px;
    z-index: 10px;
    position: absolute;
    width: 126px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #FF8B20;
    border-radius: 8px;
}

#product_qty_input{
    box-sizing: border-box;
    padding: 12px 12px 12px 16px;
    width: 136px;
    height: 38px;
    border: 1px solid #666666;
    border-radius: 8px;
}

#product_name_output{
    box-sizing: border-box;
    padding: 12px 12px 12px 16px;
    width: 480px;
    height: 38px;
    opacity: 0.5;
    border: 1px solid #666666;
    border-radius: 8px;
}

#product_price_output{
    box-sizing: border-box;
    padding: 12px 12px 12px 16px;
    width: 182px;
    height: 38px;
    opacity: 0.5;
    border: 1px solid #666666;
    border-radius: 8px;
}

#button_add_product{
    gap: 16px;
    width: 212px;
    height: 38px;
    background: #B3B3B3;
    border-radius: 8px;
    color: #FFFFFF;
}

#items .product{
    width: 576px;
}

#button_orders_cancel{
    font-weight: 600;
    font-size: 16px;
    color: #4A08FF;
    border: none;
}
#button_order_save{
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 38px;
    background: #B3B3B3;
    border-radius: 8px;
    border: none;
    color: #ffffff;
}

#items td{
    background: #FFFFFF;
    border-bottom: 1px solid #EDEDED;
    border: none;
    font-family: 'Inter', sans-serif;
    color: #999999;
    border-collapse: collapse;
}

#button_new_order{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
    border: none;
    border-radius: 8px;
    padding: 6px;
    color: white;
    background: #4A08FF;
        width: 170px;
    height: 38px;
    
}

#btn_product_registration{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 30px;
    border: none;
    border-radius: 8px;
    padding: 6px;
    color: white;
    background: #4A08FF;
    width: 170px;
    height: 38px;
}

/* cadastro de produtos*/

#sessao3{
    background-color: rgba(237, 237, 237, 1);
}

#sessao3 h2{
    font-family:'Barlow', sans-serif;
    color: rgba(77, 77, 77, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

#set_product{
    margin-bottom: 30px;
    border: none;
    border-radius: 8px;
    padding: 6px;
    color: white;
    background: #4A08FF;
    width: 170px;
    height: 38px;
}

#table_registration{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
}

.orders_h h2{
    position: absolute;
width: 383px;
height: 31px;
left: 600px;
top: 692px;
font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;
color: #B3B3B3;
}

.btn_editar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    width: 118px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #FF8B20;
    border-radius: 8px;
}

.btn_excluir{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    width: 118px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #FF8B20;
    border-radius: 8px;
}

#main_menu{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    width: 118px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #4A08FF;
    border-radius: 8px;
}

.Recebido{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 8px;
    width: 88px;
    height: 30px;
    background: #B3B3B3;
    border: 1px solid #333333;
    border-radius: 8px;
}

.Pronto{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 8px;
    width: 88px;
    height: 30px;
    background: #FFE485;;
    border: 1px solid #333333;
    border-radius: 8px;
}

.Entregue{
    display: inline-flex;
    padding: 4px 12px;
    gap: 8px;
    width: 86px;
    height: 30px;
    background: #85FFA0;
    border: 1px solid #00851D;
    border-radius: 8px;
}
<<<<<<< HEAD

.orders_info #orders_core{
    position: absolute;
    left: 611px;
    top: 305px;
    width: 400px
}

.orders_h #orders_core{
    position: absolute;
    left: 611px;
    top: 521px;
    width: 400px
}

.orders_core{
    width: 800px;
=======
.orders_core{
    width: 900px;
>>>>>>> f98d1d6ceab50c74bfc121cab1740d1c3a135a0f
    height: 400px;
}